:root {
  --color-background-main: hsl(216, 12%, 8%);
  --color-circles: hsl(210, 19%, 18%);
  --color-button: hsl(25, 97%, 53%);
  --color-heading: hsl(0, 0%, 100%);
  --color-text: hsl(217, 12%, 63%);
  --color-button-focus: hsl(216, 12%, 54%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Overpass', sans-serif;
  background-color: var(--color-background-main);
}

.container-one,
.container-two {
  width: 32.5rem;
  height: 36rem;
  background: linear-gradient(hsl(213, 19%, 18%), hsl(222, 21%, 12%));
  border-radius: 15px;
  padding: 2.5rem 2.25rem 3rem 2.25rem;
}

.container-one h1,
.thanks {
  color: var(--color-heading);
  font-weight: 700;
  font-size: 2.5rem;
}

.container-one p,
.appreciation {
  color: var(--color-text);
  line-height: 1.5;
  font-size: 1.4rem;
}

.container-circles {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.circle {
  align-items: center;
  background-color: var(--color-circles);
  border-radius: 100px;
  color: var(--color-text);
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 4rem;
}

.circle__hover:hover {
  background-color: var(--color-button);
  color: var(--color-heading);
}

.focus {
  background-color: var(--color-text);
  color: var(--color-heading);
}

.submit {
  background-color: var(--color-button);
  border-radius: 25px;
  color: var(--color-heading);
  height: 4.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  width: 100%;
  margin-top: 2.2rem;
}

.submit:hover {
  background-color: var(--color-heading);
  color: var(--color-button);
}

.circle__hover,
.submit {
  font-size: 1.3rem;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}

.container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.container-two img {
  height: 100px;
}

.result {
  background-color: var(--color-circles);
  height: 35px;
  width: 165px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-button);
  font-size: 1.3rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.thanks {
  margin: 0;
  margin-bottom: 1.5rem;
}

.appreciation {
  margin: 0;
  text-align: center;
}
